---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="VitaNexo · Pacientes Doctor">
  <!-- Topbar -->
  <div class="topbar">
    <div>
      <h1>Mis pacientes</h1>
      <div class="sub">Buenos días, Dra. Yui Ikari</div>
    </div>
    <div class="topbar-actions">
      <div class="avatar" style="width:38px; height:38px; font-size:14px; border-radius:10px;">YI</div>
    </div>
  </div>

  <!-- Content -->
  <div class="content">
    <div class="panel">
      <h2><i class="ti ti-users"></i> Directorio de pacientes</h2>
      <div class="list-row" data-sound="click">
        <div class="icon-box"><i class="ti ti-user"></i></div>
        <div class="info">
          <div class="title">Shinji Ikari</div>
          <div class="meta">14 años · A+ · Asma, ansiedad leve</div>
        </div>
        <span class="badge badge-warning">Alergias</span>
      </div>
      <div class="list-row" data-sound="click">
        <div class="icon-box"><i class="ti ti-user"></i></div>
        <div class="info">
          <div class="title">Hikari Horaki</div>
          <div class="meta">14 años · O+ · Sin condiciones médicas crónicas</div>
        </div>
      </div>
      <div class="list-row" data-sound="click">
        <div class="icon-box"><i class="ti ti-user"></i></div>
        <div class="info">
          <div class="title">Toji Suzuhara</div>
          <div class="meta">14 años · B+ · Epilepsia focal</div>
        </div>
        <span class="badge badge-danger">Crítico</span>
      </div>
    </div>
  </div>
</Layout>
